<div class="container">

        <div class="row">
    
          <div class="col-lg-3">
            <h1 class="my-4">Previous Battles</h1>
            <div class="list-group">
              <a *ngFor="let battle of battles" class="list-group-item"
                (click) = "listClick(battle)"
                [ngClass]="{'active': selectedBattle == battle}">{{battle.name}}</a>
            </div>
          </div>
          <!-- /.col-lg-3 -->
    
          <div class="col-lg-9">
            <div *ngIf="selectedBattle">
              <div class="card mt-4">
                <div class="card-body">
                  <h3 class="card-title">{{selectedBattle.name}}</h3>
                  <h4>Battle date goes here</h4>
                  <div *ngIf="selectedBattle">
                    <li *ngFor="let combatant of selectedBattle.combatants">{{combatant.name}}</li>
                  </div>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.col-lg-9 -->
    
        </div>
    
      </div>