<div class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Cover</h3>
            </div>
        </header>
    
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Fantasy Arena</h1>
            <p class="lead">A simulation of table-top fantasy inspired characters battling with one another.</p>
            <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
        </main>
    
        <footer class="mastfoot mt-auto">
            <div class="inner">
            <p>Created by Kevin Layfield</p>
            </div>
        </footer>
    </div>
</div>
